.theme-1 {
	.ant-layout-sider {
		background: #001529;
	}
	.ant-menu-dark,
	.ant-menu-dark .ant-menu-sub {
		background: #001529;
	}
	.ant-menu-dark .ant-menu-inline.ant-menu-sub {
		background: #001529;
	}
	.ant-menu.ant-menu-dark .ant-menu-item-selected,
	.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
		background: #001529;
	}
	.def-blue, .ant-btn-primary{
		background: #001529;
    color: white;
		border: #001529;
		&:hover{
			background: #001529;
			opacity: 0.8;
		}
	}
	.ant-menu-sub {
		background: #001529 !important;
	}
	.ant-tooltip-inner {
		background: #001529 !important;
	}
	.ant-tooltip-arrow {
		color: #001529 !important;
	}
	.ant-tooltip-arrow::before {
		background: #001529 !important;
	}
	.ant-tooltip-arrow::after {
		background: #001529 !important;
	}
}

.theme-2 {
	.ant-layout-sider {
		background: #008ac4;
	}
	.ant-menu-dark,
	.ant-menu-dark .ant-menu-sub {
		background: #008ac4;
	}
	.ant-menu-dark .ant-menu-inline.ant-menu-sub {
		background: #008ac4;
	}
	.ant-menu.ant-menu-dark .ant-menu-item-selected,
	.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
		background: #008ac4;
	}
	.def-blue, .ant-btn-primary{
		background: #008ac4;
    color: white;
		border: #008ac4;
		&:hover{
			background: #008ac4;
			opacity: 0.8;
		}
	}
	.ant-menu-sub {
		background: #008ac4 !important;
	}
	.ant-tooltip-inner {
		background: #008ac4 !important;
	}
	.ant-tooltip-arrow {
		color: #008ac4 !important;
	}
	.ant-tooltip-arrow::before {
		background: #008ac4 !important;
	}
	.ant-tooltip-arrow::after {
		background: #008ac4 !important;
	}
}

.theme-3 {
	.ant-layout-sider {
		background: #4fbbc9;
	}
	.ant-menu-dark,
	.ant-menu-dark .ant-menu-sub {
		background: #4fbbc9;
	}
	.ant-menu-dark .ant-menu-inline.ant-menu-sub {
		background: #4fbbc9;
	}
	.ant-menu.ant-menu-dark .ant-menu-item-selected,
	.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
		background: #4fbbc9;
	}
	.def-blue, .ant-btn-primary{
		background: #4fbbc9;
    color: white;
		border: #4fbbc9;
		&:hover{
			background: #4fbbc9;
			opacity: 0.8;
		}
	}
	.ant-menu-sub {
		background: #4fbbc9 !important;
	}
	.ant-tooltip-inner {
		background: #4fbbc9 !important;
	}
	.ant-tooltip-arrow {
		color: #4fbbc9 !important;
	}
	.ant-tooltip-arrow::before {
		background: #4fbbc9 !important;
	}
	.ant-tooltip-arrow::after {
		background: #4fbbc9 !important;
	}
}

.theme-4 {
	.ant-layout-sider {
		background: #73c053;
	}
	.ant-menu-dark,
	.ant-menu-dark .ant-menu-sub {
		background: #73c053;
	}
	.ant-menu-dark .ant-menu-inline.ant-menu-sub {
		background: #73c053;
	}
	.ant-menu.ant-menu-dark .ant-menu-item-selected,
	.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
		background: #73c053;
	}
	.def-blue, .ant-btn-primary{
		background: #73c053;
    color: white;
		border: #73c053;
		&:hover{
			background: #73c053;
			opacity: 0.8;
		}
	}
	.ant-menu-sub {
		background: #73c053 !important;
	}
	.ant-tooltip-inner {
		background: #73c053 !important;
	}
	.ant-tooltip-arrow {
		color: #73c053 !important;
	}
	.ant-tooltip-arrow::before {
		background: #73c053 !important;
	}
	.ant-tooltip-arrow::after {
		background: #73c053 !important;
	}
}

.theme-5 {
	.ant-layout-sider {
		background: #a8628d;
	}
	.ant-menu-dark,
	.ant-menu-dark .ant-menu-sub {
		background: #a8628d;
	}
	.ant-menu-dark .ant-menu-inline.ant-menu-sub {
		background: #a8628d;
	}
	.ant-menu.ant-menu-dark .ant-menu-item-selected,
	.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
		background: #a8628d;
	}
	.def-blue, .ant-btn-primary{
		background: #a8628d;
    color: white;
		border: #a8628d;
		&:hover{
			background: #a8628d;
			opacity: 0.8;
		}
	}
	.ant-menu-sub {
		background: #a8628d !important;
	}
	.ant-tooltip-inner {
		background: #a8628d !important;
	}
	.ant-tooltip-arrow {
		color: #a8628d !important;
	}
	.ant-tooltip-arrow::before {
		background: #a8628d !important;
	}
	.ant-tooltip-arrow::after {
		background: #a8628d !important;
	}
}
