#login,
#forgot-password,
#reset-password {
  @include flexbox;
  @include flex-wrap(wrap);
  margin-top: 40px;
  @include media-breakpoint-up(md) {
    height: 100vh;
    margin-top: 0px;
  }
  text-align: left;
  //login area
  .topBar{
    width: 100%;
    @include flexbox;    
    margin: 30px 0;
    @include align-items(center);
    .wrap1500{
      display: inline-block;
      text-align: right;
      width: 100%;
      @include media-breakpoint-up(md) {
        padding: 0 50px;
      }
    }
    .SwitchBlock{    
      margin: 0px 10px;   
      max-width: 150px;
      display: inline-block;             
      h4{
          display: none;
      }
      .SwitchBtnWrapper{
          background-color: $white;
          @include custom-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.19));
          border-radius: 30px;
          @include flexbox;
          @include align-items(center);
          height: 38px;
          padding: 0 15px;
          &:before{
              content: "\f57d";
              font-weight: 900;
              font-family: "Font Awesome 5 Free";
              @include fontSize(20px);
              color: $gray-9ca;              
          } 
          select{
              border: none;
              outline: none;
              color: $gray-9ca;
              @include fontSize(14px);
              margin-left: 5px;
              margin-top: -2px;
          }
      }
      &.theme{
        .SwitchBtnWrapper{
          &:before{
            content: "\f0db";
          }
        }
      }
  }
  }
  .login {
    @include make-col-ready();
    @include media-breakpoint-up(md) {
      @include make-col(6);
      padding: 0 50px;
      text-align: left;
    }
    .logo {
      img {
        max-width: 176px;
        width: 100%;
      }
      @include media-breakpoint-up(lg) {
      img {
        max-width: 200px;
        width: 100%;
      }
    }
    }
    h2 {
      text-transform: uppercase;
      padding-top: 40px;
      @include media-breakpoint-up(md) {
        padding-top: 70px;
      }
      font-weight: 500;
    }
    .login-form {
      @include media-breakpoint-up(md) {
      padding: 40px 0;
      }
      input[type="text"],
      input[type="email"],
      input[type="password"] {
        @include input;
        padding: 10px;
        padding-left: 35px;
        margin: 15px 0;
        outline: none !important;
        
      }
      i {
        color: $blue1;
        position: absolute;
        left: 25px;
        top: 32px;
      }
    }
    input[type="submit"] {
      display: inline-block;
      @include button1;
      outline: none !important;
    }
  }
  //image area
  .image-area {
    @include make-col-ready();
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      @include make-col(6);
      padding: 0 50px;
      padding-top: 50px;
      text-align: left;
    }
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
i.ant-spin-dot-item {
  left: auto !important;
  top: auto !important;
}

